@charset "UTF-8";
body {
	font-family: arial;
	font-size:12px;
	margin:10px;	
	text-align:center;
}
		
form {
	margin:0 auto; 
	text-align:left;
	width:270px;
	border:1px solid #ccc;
	padding:15px;
	background:#fff;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	box-shadow: 0 0 4px #ccc; 
	-webkit-box-shadow: 0 0 4px #ccc; 
	-moz-box-shadow: 0 0 4px #ccc;
}
		
fieldset {
	overflow:hidden;
	border:0;
	height:30px;	
	margin:3px 0;
}
		
	fieldset label {
		display:block;
		width:50px;
		float:left;
		font-weight:700;
		color:#666;	
		line-height:2.2em;
	}
		
	fieldset input {
		float:left;
		border:1px solid #ccc;	
		height: 20px;
		padding:3px;
		width:190px;
		font-size:12px;
	}

	/* form field */
	.effect {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
	}
		
	#button {
		margin-top:10px;
		padding-right:20px;
		text-align:right;	
	}

		#button input {
			margin:0 auto;
		}		



	/* CSS BUTTON  START HERE */
	a.cssSubmitButton {			
		font-size: 12px;
		background: #fff no-repeat 4px 5px;
		display: inline-block;
		padding: 5px 20px 6px;
		color: #333;
		border:1px solid #ccc;
		text-decoration: none;
		font-weight: bold;
		line-height: 1.2em;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-box-shadow: 0 1px 3px #999;
		-webkit-box-shadow: 0 1px 3px #999;
		position: relative;
		cursor: pointer;
		outline:none;
	}
	
	a.cssSubmitButton:visited {}
	
	/* hightlight the button on mouse over */
	a.cssSubmitButton:hover {
		border:1px solid #333;
	}
	
	/* the animation */
	.loading {
		background-image:url('load.gif') !important;
		color:#ccc !important;	
		-moz-box-shadow: 0 0 0 #fff !important;
		-webkit-box-shadow: 0 0 0 #fff !important;
	}